@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 15 23 42;
  --foreground: 241 245 249;
  --border: 30 41 59;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

